<div class="api-content">
  {% for section in pages['/api.yml'].sections %}
    {% set layout = pages[section.layout] %}
    <div class="api-section-heading">
      <div class="api-heading"><h2>{{ section.title }}</h2></div>
      <div class="api-heading-blank"></div>
    </div>
    {% for subsection in layout.sections %}
      <div class="api-subsection">
        <div class="api-description-container">
          <div class="api-description">
            {{ pages[subsection.description].content|markdown }}
          </div>
        </div>
        <div class="api-example-container">
          <div class="api-example-content">
            {% if True %}  {# IF EXAMPLE CODE #}
              <div class="api-code-container">
                <div class="api-code-header">
                  <span>GET</span> /api/appointments/
                </div>
                <div class="api-code-example">
                  <div class="code-line-numbers">
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>4</p>
                    <p>5</p>
                  </div>
                  <div class="code-lines">
                    <code class="python">
                      <span class="code-line">import requests</span>
                      <span class="code-line">&nbsp;</span>
                      <span class="code-line">headers = {'Authorization': 'token --API KEY---'}</span>
                      <span class="code-line">r = requests.get('https://secure.tutorcruncher.com/api/appointments/', headers=headers)</span>
                      <span class="code-line">print(r.content.decode())</span>
                    </code>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if True %}  {# IF RESPONSE #}
              <div class="api-response-container">
                <div class="api-response-header">RESPONSE</div>
                <div class="api-response-example">
                  <div class="response-lines">
                    <code class="json">
                      <span class="response-line">{</span>
                      <span class="response-line">&nbsp;&nbsp;"name": "Alex Ford",</span>
                      <span class="response-line">&nbsp;&nbsp;"age": 19,</span>
                      <span class="response-line">&nbsp;&nbsp;"dob": "2000-04-07T23:55:00Z",</span>
                      <span class="response-line">&nbsp;&nbsp;"events": [</span>
                      <span class="response-line">&nbsp;&nbsp;&nbsp;&nbsp;{</span>
                      <span class="response-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"event": 1000,</span>
                      <span class="response-line">&nbsp;&nbsp;&nbsp;&nbsp;},</span>
                      <span class="response-line">&nbsp;&nbsp;&nbsp;&nbsp;{</span>
                      <span class="response-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"event": 1000,</span>
                      <span class="response-line">&nbsp;&nbsp;&nbsp;&nbsp;}</span>
                      <span class="response-line">&nbsp;&nbsp;]</span>
                      <span class="response-line">&nbsp;&nbsp;"test": 123,</span>
                      <span class="response-line">}</span>
                    </code>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="api-subsection">
        <div class="api-description-container">
          <div class="api-description">
            {{ pages[layout.description].content|markdown }}
          </div>
        </div>
        <div class="api-example-container">
          <div class="api-example-content">
            code!!!
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>
