<div class="api-content">
  {% for section in pages['/api.yml'].sections %}
    {% set layout = pages[section.layout] %}
    <div class="api-section-heading" id="{{ section.id }}">
      <div class="api-heading"><h2>{{ section.title }}</h2></div>
    </div>
    {% for subsection in layout.sections %}
      <div class="api-subsection" {% if subsection.id %}id="{{ subsection.id }}"{% endif %}>
        <div class="api-description-container">
          <div class="api-description">
            {{ pages[subsection.description].content|markdown }}
          </div>
        </div>
        <div class="api-example-container">
          <div class="api-example-content">
            {% if subsection.code %}
              {% set code_lines = code_line_list(subsection.code) %}
              <div class="api-code-container">
                <div class="api-code-header">
                  <span>{{ subsection.code_type }}</span> {{ subsection.code_url }}
                </div>
                <div class="api-code-example">
                  <div class="code-line-numbers">
                    {% for line_num in range(1, code_lines|length + 1) %}
                      <p>{{ line_num }}</p>
                    {% endfor %}
                  </div>
                  <div class="code-lines">
                    <code class="python">
                      {% for line in code_lines %}
                        <span class="code-line">{{ line }}</span>
                      {% endfor %}
                    </code>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if subsection.response %}
              <div class="api-response-container">
                <div class="api-response-header">{{ subsection.response_title or 'RESPONSE' }}</div>
                <div class="api-response-example">
                  <div class="response-lines">
                    <code class="json">
                      {% for line in json_line_list(subsection.response) %}
                        <span class="response-line">{{ line }}</span>
                      {% endfor %}
                    </code>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>
