<div class="api-content">
  <nav>
    <ul>
      <li><a href="{{ config.contact_url }}" target="_blank">Contact Us</a></li>
      <li><a href="{{ config.help_url }}" target="_blank">User Guide</a></li>
      <li><a href="{{ config.sign_in_url }}" target="_blank">Sign In</a></li>
    </ul>
  </nav>
  {% set api_sections = pages['/api.yml'] %}
  {% for section in api_sections.info_sections + api_sections.endpoint_sections %}
    {% set layout = pages[section.layout] %}
    <div class="api-section-heading" id="{{ section.id }}">
      <a href="#{{ section.id | slugify }}" class="api-heading"><h2>{{ section.title }}</h2></a>
    </div>
    {% for subsection in layout.sections %}
      <div class="api-subsection" {% if subsection.id %}id="{{ subsection.id }}"{% endif %}>
        <div class="api-description-container">
          <div class="api-description">
            {{ pages[subsection.description].content|markdown }}
          </div>
          {% set attributes_layout = pages[subsection.attributes] %}
          {% if attributes_layout %}
            <div class="api-attributes">
              <h4>Attributes</h4>
              {% for attribute in attributes_layout.attributes %}
                <div class="api-attributes-container">
                  <div class="attribute-info">
                    <span class="attribute-name">{{ attribute.name }}</span>
                    <span class="attribute-type">{{ attribute.type }}</span>
                  </div>
                  <div class="attribute-description">{{ attribute.description|markdown }}</div>
                  {% if attribute.children %}
                    <div class="attribute-children-container">
                      <div class="attribute-children-heading">
                        Show child attributes
                        <span class="fa fa-fw fa-plus"></span>
                        <span class="fa fa-fw fa-minus"></span>
                      </div>
                      <div class="attribute-children">
                        {% for child in attribute.children %}
                          <div class="attribute-child api-attributes-container">
                            <div class="attribute-info">
                              <span class="attribute-name">{{ child.name }}</span>
                              <span class="attribute-type">{{ child.type }}</span>
                            </div>
                            <div class="attribute-description">{{ child.description|markdown }}</div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% set filters_layout = pages[subsection.filters] %}
          {% if filters_layout %}
            <div class="api-filters">
              <h4>Filters</h4>
              {% for filter in filters_layout.filters %}
                <div class="api-filters-container">
                  <div class="filter-info">
                    <span class="filter-name">{{ filter.name }}</span>
                    <span class="filter-type">{{ filter.type }}</span>
                  </div>
                  <div class="filter-description">{{ filter.description|markdown }}</div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% if subsection.extra_template %}
            {% include subsection.extra_template %}
          {% endif %}
        </div>
        <div class="api-example-container">
          <div class="api-example-content">
            {% if subsection.code %}
              {% set code_lines = code_line_list(subsection.code) %}
              <div class="api-code-container">
                <div class="api-code-header">
                  <span>{{ subsection.code_type }}</span> {{ subsection.code_url|escape }}
                </div>
                <div class="api-code-example">
                  <div class="code-line-numbers">
                    {% for line_num in range(1, code_lines|length + 1) %}
                      <p>{{ line_num }}</p>
                    {% endfor %}
                  </div>
                  <div class="code-lines">
                    <code class="python">
                      {% for line in code_lines %}
                        <span class="code-line">{{ line }}</span>
                      {% endfor %}
                    </code>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if subsection.response %}
              <div class="api-response-container">
                <div class="api-response-header">{{ subsection.response_title or 'RESPONSE' }}</div>
                <div class="api-response-example">
                  <div class="response-lines">
                    <code class="json">
                      {% for line in json_line_list(subsection.response) %}
                        <span class="response-line">{{ line }}</span>
                      {% endfor %}
                    </code>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>
