{% extends 'base.jinja' %}

{% block body %}
  <div class="api-main-container">
    <div class="api-menu-bar-container">
      {% include 'api-menu-bar.jinja' %}
    </div>
    <div class="api-content-container">
      {% include 'api-content.jinja' %}
    </div>
  </div>
{% endblock %}
