<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ config.title }}</title>
    <meta name="description" content="{{ config.description|truncate(160)|trim }}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <link rel="canonical" href="https://tutorcruncher.com/api{{ page.uri }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ resolve_url('favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ resolve_url('favicon.ico') }}">
    <link rel="manifest" href="{{ resolve_url('manifest.json') }}">
    <link rel="mask-icon" href="{{ resolve_url('favicons/safari-pinned-tab.svg') }}" color="#016997">
    <link rel="shortcut icon" href="{{ resolve_url('favicon.ico') }}">
    <meta name="msapplication-config" content="{{ resolve_url('browserconfig.xml') }}">
    <meta name="theme-color" content="#016997">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:300|Merriweather|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.tutorcruncher.com/fontawesome/css/all.css" crossorigin="anonymous">
    <style>{{ inline_css(style_sheet or 'theme/base.css') }}</style>
  </head>

  <body>
    {% block body %}{% endblock %}
    {% block pre_extra_js %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ resolve_url('/js/typeahead.jquery.js') }}"></script>
    <script src="{{ resolve_url('/js/main.js') }}"></script>
    {% block post_extra_js %}{% endblock %}
  </body>
</html>
