@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600&display=swap');

$background-colour: #FFF;
$brand-colour: #016997;
$grey-background-colour: #F4F5F8;

$main-font: 'Inter', sans-serif;
$title-font: 'Titillium Web', sans-serif;
$code-font: 'Roboto Mono', monospace;
$text-color: #222;
$body-font-size: 18px;
$white-text-color: #FFF;

$mobile: 600px;
$small: 800px;
$medium: 1100px;
