$background-colour: #FFF;
$brand-colour: #016997;
$grey-background-colour: #F4F5F8;

$main-font: 'Open Sans', sans-serif;
$code-font: 'Roboto Mono', monospace;
$text-color: #222;
$body-font-size: 18px;
$white-text-color: #FFF;

$mobile: 600px;
$small: 800px;
$medium: 1100px;

//Blues
$color: #689bdd;
$color: #362e83;
$color: #6672b6;
$color: #2e368f;
$color: #B7defb;
$color: #179bd5;
$color: #689bdd;
$color: #65afff;
$color: #3f5f86;
$color: #4279bd;
$color: #cde4f6;

//Green
$color: #60cdc8;
$color: #6ac396;

//Orange
$color: #F5a34f;
$color: #F5bd84;

//Red
$color: #D55257;
$color: #E24d58;

//Pink
$color: #E676a0;

//Brown
$color: #Ac817a;
$color: #a87067;

//Whites
$color: #F6f9fc;
$color: #f8f8f8;
