@import 'variables';

$menu-tab-width: 230px;
$menu-tabs-heading-size: 14px;
$menu-tab-heading-active-color: darken($brand-colour, 10%);
$menu-tab-subheading-active-color: darken($brand-colour, 15%);

$code-example-bg-color: #3f5f86;
$response-example-bg-color: #9C9990;

$tablet-width: 1024px;
$mobile-width: 767px;

.api-main-container {
  height: 100%;

  .api-menu-bar-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    transition: all 0.5s ease;

    color: $white-text-color;

    hr {
      border-color: $white-text-color;
    }

    .api-menu-bar {
      background: $brand-colour;
      width: $menu-tab-width;
    }

    .api-menu-toggle {
      display: none; // Only display when on mobile
      position: relative;
      background: $menu-tab-heading-active-color;
      transform: rotate(90deg);
      height: 30px;
      width: 90px;
      top: 75px;
      left: -30px;
      padding: 0.25rem;
      border-radius: 5px 5px 0 0;
      font-size: 14px;
      text-align: center;

      #show-menu, #hide-menu {
        margin-top: 5px;
      }

      #show-menu {
        display: block;
      }

      #hide-menu {
        display: none;
      }
    }

    .menu-bar-image-container {
      text-align: center;

      span {
        font-size: 20px;
      }

      img {
        width: 100px;
        height: 100px;
      }
    }

    .menu-bar-tabs, .tab-subheadings {
      list-style: none;
      padding: 0;
    }

    .menu-bar-tabs {
      li {
        line-height: 32px;
      }

      .tab-heading, .tab-subheading {
        text-decoration: none;
        font-size: $menu-tabs-heading-size;
        display: block;
        padding: 0 10px;
        transition: all .2s ease;
        color: $white-text-color;
      }

      .tab-heading {
        font-weight: bold;

        &:hover, &:active {
          background: $menu-tab-heading-active-color;
        }
      }

      .tab-subheading {
        padding-left: 20px;

        &:hover, &:active {
          background: $menu-tab-subheading-active-color;
        }
      }

      .tab-container {
        ul {
          display: none;
        }
      }

      .active {
        background: $menu-tab-heading-active-color;

        ul {
          display: block;
        }
      }
    }
  }

  .api-content-container {
    margin-left: $menu-tab-width;
    width: calc(100% - 230px);

    .api-content {
      .api-section-heading, .api-subsection {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #e3e8ee;
        margin: 0 3rem;
      }

      .api-subsection {
        padding: 2rem 0;
      }

      .api-description-container, .api-example-container {
        width: 50%;
      }

      .api-example-container {
        align-self: center;
      }

      .api-heading {
        h2 {
          padding: 0 1rem;
        }
      }

      .api-description, .api-example-content {
        margin: 1rem;
      }

      .api-example-content {
        .api-code-container {
          padding: 0 1rem;
          margin: 0 0 1rem 0;

          .api-code-header {
            background: darken($code-example-bg-color, 10%);
            color: $white-text-color;
            font-size: 12px;
            padding: 0.5rem;
            border-radius: 10px 10px 0 0;

            span {
              padding-right: 0.5rem;
            }
          }

          .api-code-example {
            background: $code-example-bg-color;
            color: $white-text-color;
            font-size: 12px;
            margin: 0;
            padding: 0.5rem 0;
            font-family: $code-font;
            border-radius: 0 0 10px 10px;

            display: flex;
            flex-direction: row;

            .code-line-numbers {
              color: lighten($code-example-bg-color, 20%);
              padding: 0 1rem;

              p {
                margin: 0;
              }
            }

            .code-lines {
              overflow: auto;

              code {
                font-family: $code-font !important;
                padding: 0 0 5px 0;
                background: $code-example-bg-color;
                margin-right: 0.5rem;

                &::-webkit-scrollbar-track {
                  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                  border-radius: 10px;
                  background-color: darken($code-example-bg-color, 5%);
                }

                &::-webkit-scrollbar {
                  height: 8px;
                  background-color: $code-example-bg-color;
                }

                &::-webkit-scrollbar-thumb {
                  border-radius: 10px;
                  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                  background-color: darken($code-example-bg-color, 10%);
                }
              }

              .python {
                color: $white-text-color;

                .hljs-keyword {
                  color: #F5bd84;
                }

                .hljs-string {
                  color: #6ac396;
                }
              }

              .code-line {
                display: block;
                white-space: pre;
              }
            }
          }
        }

        .api-response-container {
          padding: 0 1rem;

          .api-response-header {
            background: $response-example-bg-color;
            color: $white-text-color;
            font-size: 12px;
            padding: 0.5rem;
            border-radius: 10px 10px 0 0;
          }

          .api-response-example {
            .response-lines {
              background: lighten($response-example-bg-color, 30%);
              font-size: 12px;
              margin: 0;
              padding: 0.5rem 0;
              font-family: $code-font;
              border-radius: 0 0 10px 10px;
              border: 1px solid lighten($response-example-bg-color, 15%);
              border-top: none;

              code {
                background: lighten($response-example-bg-color, 30%);
                padding: 0 5px 5px 0;
                margin: 0 0.5rem;
                font-family: $code-font !important;
                max-height: 500px;

                &::-webkit-scrollbar-track {
                  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                  border-radius: 10px;
                  background-color: lighten($response-example-bg-color, 10%);
                }

                &::-webkit-scrollbar {
                  height: 8px;
                  width: 8px;
                  background-color: lighten($response-example-bg-color, 30%);
                }

                &::-webkit-scrollbar-thumb {
                  border-radius: 10px;
                  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                  background-color: darken($response-example-bg-color, 10%);
                }

                &::-webkit-scrollbar-corner {
                  background: lighten($response-example-bg-color, 30%);
                }

                .response-line {
                  display: block;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }

      .api-description {
        p {
          font-size: 16px;
        }

        a {
          text-decoration: none;
          color: $brand-colour;
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .api-content-container {
    .api-content {
      .api-subsection {
        flex-direction: column !important;

        .api-description-container, .api-example-container {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .api-menu-bar-container {
    transform: translateX(-$menu-tab-width);
  }

  .api-menu-toggle {
    display: block !important;
  }

  .api-content-container {
    margin-left: 0 !important;
    width: 100% !important;
  }
}
